<!DOCTYPE html>
<html lang="en">
<head>
   <%- include ('../partials/partial') %>
    <title>Login</title>

<style>
   body{
      background-color: whitesmoke;
      padding:0;
      margin:0;
   }
 .maindiv{
   display:flex;
   justify-content: center;
   margin-top:50px;
   box-sizing: border-box;
   width:100vw;
   overflow: hidden;
 }
 .innerdiv{
    background-color: white;
    box-shadow:0 0 10px lightgrey;
    border-radius:20px;
    padding:20px;
    overflow: hidden;
 }
 input{
    border:0;
    border-bottom: solid black 2px;
   width:100%;
 }
 input:focus{
   outline: none;
 }
 h1{
font-family: 'Lilita One', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
position: absolute;
top:20px;
 }
 i{
    font-size:20px;
    padding-right:10px;
 }
 a{
font-family: 'Lilita One', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif; 
 }

</style>   

</head>
<body>
    <div class="row maindiv">
    <div style="display:flex;" class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 innerdiv">
    
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8" >
     <img style=" position: relative;width:80%; left:10px;"  src="../images/login2.jpg" />
    </div>
    
    <div style="position:relative;right:60px;" class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8" >
     <h1 style="width:20%;">Welcome</h1>
   
     <div style="margin-top:25%;" class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8" >
     
    <i class="fi fi-rr-user" ></i><input id="username" style=" margin-bottom:40px;width:66%;" placeholder="LoginId" type="text"/></br>
    <i class="fi fi-rr-lock" ></i><input  id="pass" placeholder="Password" type="text" style="width:66%;"/></br>

    </div>
    
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 col-xl-8"><a href="#" style="position:absolute;right:25%;font-size:18px; color:#018749; width:20%;text-decoration:none;" >Forgot?</a></br>
        <button style="padding:5px; font-weight:bold; background:#1CAC78; border:0; border-radius:10px; color:white; width:72%; position:relative; overflow:hidden; left:30px; top:20px; margin-top:15px;" id="login" type="submit">Submit</button>
   </div>
    </div>

    </div>
    </div>
   
</body>

<script>

   //login 
   document.getElementById('login').addEventListener('click',()=>{

     let username = document.getElementById('username').value;
     let password = document.getElementById('pass').value;

     let obj={username,password};

     console.log(obj);
   });

  
</script>
</html>